<!DOCTYPE html>
<html>
    <head>
        <title>Starlab App</title>
        <style type="text/css">
            #container {height: 100%; width:100%; font-size: 0;}
            .container_block {
                display: inline-block;
                *display: inline;
                zoom: 1;
                vertical-align: top;
                font-size: 20px;
            }
            .info_block {
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .spacer { width: 1%; }
            #tree_div {width: 30%; }
            #form_div {width: 30%; }
            #new_sub_div {width: 30%; }
            .selected {background-color: aquamarine; }
            .subnodes {
                padding-left: 15px;
                border-left: solid black 1px;
            }
            .hidden_block {visibility: hidden; }
            .shown_block {visibility: visible; }
            .failure_block {background-color: red; }
            .success_block {background-color: darkseagreen; }
            input {width: 100%; }
        </style>
    </head>
    <body>
        <div id="container">
            <div id="tree_div" class="container_block"></div>
            <div class="container_block spacer"></div>
            <div id="form_div" class="container_block">
                <span id="form_title">Employee info</span>
                <form id="employee_info">
                    <label for="f_first_name">First name:</label><br/>
                    <input type="text" id="info_first_name" name="first_name"/><br/>
                    <label for="f_last_name">Last name:</label><br/>
                    <input type="text" id="info_last_name" name="last_name"><br/>
                    <label for="f_position">Position:</label><br/>
                    <input type="text" id="info_position" name="position"><br/>
                    <label for="f_employment_date">Employment date:</label><br/>
                    <input type="text" id="info_employment_date" name="employment_date"><br/>
                    <label for="f_salary">Salary:</label><br/>
                    <input type="text" id="info_salary" name="salary"><br/>
                    <button type="button" id="info_add_subordinates">Add subordinate</button>
                    <button type="submit">Update</button><br/>
                </form>
                <div class="info_block" id="empl_info_block"></div>
            </div>
            <div class="container_block spacer"></div>
            <div id="new_sub_div" class="container_block hidden_block">
                <span id="form_title">New subordinate:</span>
                <form id="new_subordinate">
                    <label for="f_first_name">First name:</label><br/>
                    <input type="text" id="new_sub_first_name" name="first_name"/><br/>
                    <label for="f_last_name">Last name:</label><br/>
                    <input type="text" id="new_sub_last_name" name="last_name"><br/>
                    <label for="f_position">Position:</label><br/>
                    <input type="text" id="new_sub_position" name="position"><br/>
                    <label for="f_employment_date">Employment date:</label><br/>
                    <input type="text" id="new_sub_employment_date" name="employment_date"><br/>
                    <label for="f_salary">Salary:</label><br/>
                    <input type="text" id="new_sub_salary" name="salary"><br/>
                    <button type="button" id="new_sub_cancel">Cancel</button>
                    <button type="submit">Save</button><br/>
                </form>
            </div>
        <div>
    </body>
    <script>
        function deepcopy(obj) {
            return JSON.parse(JSON.stringify(obj))
        }

        function rowsToDictWithIds(data) {
            return data.reduce((a, v) => ({ ...a, [v.id]: v}), {})
        }

        function formDataToDict(formData) {
            let formDataObj = {}
            formData.forEach((value, key) => (formDataObj[key] = value));
            return formDataObj;
        }

        function makeDiv(className_) {
            let d = document.createElement("div")
            d.className = className_
            return d
        }

        class EmploymentData {
            rawData = []
            mappedData = {}
            constructor(data) {
                this.rawData = data
                this.mappedData = rowsToDictWithIds(data)
            }
        }
        
        class Tree {
            core = null
            employmentData = null
            selectedEmployee = null
            selectionEnabled = true

            constructor(core) {
                this.core = core
                this.employmentData = core.employmentData

                let baseDiv = document.getElementById("tree_div")
                let treeData = this.makeTreeData(this.employmentData.rawData)
                this.createNode(baseDiv, treeData)
            }

            makeTreeData(data) {
                function makeTreeDataInternal(topElement, data) {
                    let subordinates = []
                    let employeeIds = Object.keys(data)
                    for (let employeeId of employeeIds) {
                        if (data[employeeId].chief_id == topElement.id) {
                            subordinates.push(data[employeeId])
                            delete data[employeeId]
                        }
                    }
                    if (subordinates.length > 0) {
                        subordinates = subordinates.map((sub) => (makeTreeDataInternal(sub, data)))
                        topElement.subordinates = subordinates
                    }

                    return topElement
                }

                let topChief = data.find((el) => (el.chief_id == null))
                let mappedData = deepcopy(this.employmentData.mappedData)
                delete mappedData[topChief.id]

                return makeTreeDataInternal(topChief, mappedData)
            }


            getTitleForNode(nodeId) {
                let data = this.employmentData.mappedData[nodeId]
                return `${data.first_name} ${data.last_name}, ${data.position}`
            }

            getTreeNodeId(nodeId) {
                return `tree_node_${nodeId}`
            }


            createNode(container, childData) {
                let baseDiv = makeDiv("node")
                baseDiv.id = this.getTreeNodeId(childData.id)
                baseDiv.setAttribute("nodeId", childData.id)
                container.appendChild(baseDiv)

                let titleDiv = makeDiv("node_title")
                titleDiv.innerHTML = this.getTitleForNode(childData.id)
                titleDiv.addEventListener("click", () => {
                    this.selectEmployee(baseDiv)
                })
                baseDiv.appendChild(titleDiv)

                let subsDiv = makeDiv("subnodes")
                baseDiv.appendChild(subsDiv)

                if (childData.hasOwnProperty("subordinates")) {
                    for (let sub of childData.subordinates) {
                        this.createNode(subsDiv, sub)
                    }
                }
            }

            updateTreeNodeTitle(nodeId) {
                let newTitle = this.getTitleForNode(nodeId)
                let treeNodeId = this.getTreeNodeId(nodeId)
                document.querySelector(`#${treeNodeId} > .node_title`).innerHTML = newTitle
            }

            selectEmployee(node) {
                if (this.selectionEnabled === false) {
                    return
                }

                let employeeId = node.getAttribute("nodeId")

                if (this.selectedEmployee !== null) {
                    let prevEmployeeId = this.getTreeNodeId(this.selectedEmployee)
                    document.querySelector(`#${prevEmployeeId} > .node_title`).classList.remove("selected")
                }
                node.querySelector(".node_title").classList.add("selected")
                this.selectedEmployee = employeeId

                this.core.infoWindow.updateFields(this.employmentData.mappedData[employeeId])
            }

            addSubordinate(employeeData) {
                let subsDiv = document.querySelector(`#${this.getTreeNodeId(this.selectedEmployee)} > .subnodes`)
                this.createNode(subsDiv, employeeData)
            }

            blockTree() {
                this.selectionEnabled = false
            }

            unblockTree() {
                this.selectionEnabled = true
            }
        }

        class BaseFormWindow {
            form = null
            core = null
            constructor(form, core) {
                this.form = form
                this.core = core
            }

            disableForm() {
                var elements = this.form.elements;
                for (let element of elements) {
                    element.disabled = true;
                }
            }

            enableForm() {
                var elements = this.form.elements;
                for (let element of elements) {
                    element.disabled = false;
                }
            }

            updateFields(data) {
                Array.from(this.form.elements).forEach((input)=>{ 
                    if (input.type == "text") {
                        input.value = data[input.name]
                    }
                })
            }

            getData() {
                let formData = new FormData(this.form)
                return formDataToDict(formData)
            }

            hideForm() {
                this.form.classList.add("hidden_block")
                this.form.classList.remove("shown_block")
            }

            showForm() {
                this.form.classList.remove("hidden_block")
                this.form.classList.add("shown_block")
            }

            reset() {
                this.form.reset()
            }
        }

        class InfoWindow extends BaseFormWindow {
            constructor(form, core) {
                super(form, core)
                form.addEventListener("submit", (event) => {
                    event.preventDefault()
                    let employeeToUpdate = this.core.tree.selectedEmployee
                    if(employeeToUpdate == null) {
                        return
                    }
                    core.updateEmployee(employeeToUpdate)
                })

                let addSubButton = document.getElementById("info_add_subordinates")
                addSubButton.addEventListener("click", ()=>{
                    this.core.startSubordinateAddingProcess()
                })
            }
        }

        class NewSubordinateWindow extends BaseFormWindow {
            constructor(form, core)
             {
                super(form, core)
                form.addEventListener("submit", (event) => {
                    event.preventDefault()
                    this.core.addSubordinate(this.getData())
                })
                let cancelNewSubButton = document.getElementById("new_sub_cancel")
                cancelNewSubButton.addEventListener("click", () => {
                    this.core.endSubrodinateAddingProcess();
                })
            }
        }

        class InfoPanel {
            panel = null
            constructor(panel) {
                this.panel = panel
            }

            hideInfoPanel() {
                this.panel.classList.remove("shown_block")
                this.panel.classList.add("hidden_block")
                this.panel.classList.remove("success_block")
                this.panel.classList.remove("failure_block")
            }
            
            showSuccess(successMessage) {
                this.panel.innerHTML = successMessage
                this.panel.classList.add("shown_block")
                this.panel.classList.add("success_block")
                setTimeout(() => {
                    this.hideInfoPanel()
                }, 3000)
            }

            showFailure(failureMessage) {
                this.panel.innerHTML = failureMessage
                this.panel.classList.add("shown_block")
                this.panel.classList.add("failure_block")
                setTimeout(() => {
                    this.hideInfoPanel()
                }, 3000)
            }         
        }

        class Core {
            employmentData = null
            infoWindow = null
            newSubWindow = null
            tree = null
            infoBox = null

            constructor(data) {
                this.employmentData = new EmploymentData(data)
                this.infoWindow = new InfoWindow(document.getElementById("employee_info"), this)
                this.tree = new Tree(this)
                this.newSubWindow = new NewSubordinateWindow(document.getElementById("new_subordinate"), this)
                this.infoBox = new InfoPanel(document.getElementById("empl_info_block"))
            }

            blockTreeAndInfo() {
                this.tree.blockTree()
                this.infoWindow.disableForm()
            }

            unblockTreeAndInfo() {
                this.tree.unblockTree()
                this.infoWindow.enableForm()
            }

            updateEmployee(employeeId){
                let formDataObj = this.infoWindow.getData()

                fetch(`/employees/${employeeId}`, {
                    method: 'PATCH',
                    body: JSON.stringify(formDataObj)
                }).then((response) => {
                    if (response.ok) {
                        return response.json()
                    }
                    throw new Error("failed")
                }).then((data) => {
                    this.employmentData.mappedData[employeeId] = data
                    this.tree.updateTreeNodeTitle(employeeId)
                    this.infoWindow.updateFields(data)
                    this.infoBox.showSuccess("EMPLOYEE UPDATED")
                }).catch((error) => {
                    this.infoBox.showFailure("UPDATE FAILED")
                    let data = this.employmentData.mappedData[employeeId]
                    this.infoWindow.updateFields(data)
                })
            }

            startSubordinateAddingProcess() {
                if (this.tree.selectedEmployee == null) {
                    return
                }
                this.blockTreeAndInfo()
                this.newSubWindow.showForm()
            }

            endSubrodinateAddingProcess() {
                this.unblockTreeAndInfo()
                this.newSubWindow.reset()
                this.newSubWindow.hideForm()
            }

            addSubordinate(formDataObj) {
                formDataObj.chief_id = this.tree.selectedEmployee
                fetch("/employees", {
                    method: "POST",
                    body: JSON.stringify([formDataObj])
                })
                .then((response) => {
                    if (response.ok) {
                        this.infoBox.showSuccess("SUBORDINATE ADDED")
                        this.endSubrodinateAddingProcess()
                        return response.json()
                    }
                    throw new Error("failed")
                })
                .then((data) => {
                    let employeeData = data[0]
                    this.employmentData.mappedData[employeeData.id] = employeeData
                    this.tree.addSubordinate(employeeData)
                })
                .catch((error) => {
                    this.infoBox.showFailure("ADDING FAILED")
                    this.endSubrodinateAddingProcess()
                })
            }
        }


        core = null;

        (function init() {
            let data = JSON.parse(`{{ data|safe }}`)

            core = new Core(data);
        })()
    </script>
<html>
